.nav-side--menu {
  min-width: 240px;
}

.drawer-container {
  min-height: calc(100vh - 65px);
}

.item-menu {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.block-content{
  padding: 10px;
}