<div class="app-container" [class.is-mobile]="mobileQuery.matches">
  <app-navbar></app-navbar>

  <!-- Start sidenvar -->
  <mat-drawer-container class="example-container">
    <mat-drawer
      class="nav-side--menu"
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      opened
    >
      <div *ngFor="let menu of listMenu" class="item-menu">
        {{ menu.text }}
      </div>
    </mat-drawer>
    <mat-drawer-content class="drawer-container">
      <div class="block-content">
        <router-outlet> </router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>

  <!-- Start footer -->
</div>
