<mat-form-field class="input-suggestion-container">
  <mat-label>{{ label | translate }}</mat-label>
  <input
    matInput
    [placeholder]="placeholder"
    [formControl]="formControl"
    [matAutocomplete]="auto"
  />

  <mat-autocomplete
    autoActiveFirstOption
    [displayWith]="displayFn"
    #auto="matAutocomplete"
  >
    <mat-option *ngFor="let option of listItem" [value]="option">
      {{ option.text }}
    </mat-option>
  </mat-autocomplete>
  <mat-hint *ngIf="listItem.length == 0">{{'No selection' | translate}}</mat-hint>

  <mat-error>Required</mat-error>
</mat-form-field>
