<button mat-raised-button class="btn--submit-form" (click)="submitForm()">Submit Form</button>

<form [formGroup]="formGroup">
  <mat-table [dataSource]="dataSource" formArrayName="formArrayName">
    <!-- Column definitions -->

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef class="mat-column-action">
      </mat-header-cell>

      <mat-cell
        *matCellDef="let element; let indexRow = index"
        class="mat-column-action"
      >
        <button
          mat-icon-button
          (click)="deleteRow(indexRow)"
          (contextmenu)="onRightClick()"
          appNoRightClick
          *ngIf="rows.length - 1 !== indexRow"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <!-- End Action Column -->

    <!-- index Column  -->
    <ng-container matColumnDef="index">
      <mat-header-cell *matHeaderCellDef class="mat-column-index">
        STT
      </mat-header-cell>

      <mat-cell
        *matCellDef="let element; let indexRow = index"
        class="mat-column-index"
      >
        <div>{{ indexRow + 1 }}</div>
      </mat-cell>
    </ng-container>
    <!-- End index Column  -->

    <!-- Id Column  -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef class="mat-column-name">
        <p class="required-cell">Mã sản phẩm</p>
      </mat-header-cell>

      <mat-cell
        *matCellDef="let element; let indexRow = index"
        class="mat-column-name"
        [formGroupName]="indexRow"
      >
        <!-- Input -->

        <!-- Select -->
        <mat-form-field>
          <input
            [class]="'input-id-' + indexRow"
            matInput
            formControlName="id"
            [matAutocomplete]="auto"
            onEnterGridTable
            (blur)="checkValueIdForm(indexRow)"
          />

          <mat-autocomplete
            autoActiveFirstOption
            [displayWith]="displayFn"
            #auto="matAutocomplete"
            (optionSelected)="onAddNewRow()"
          >
            <mat-option
              *ngFor="let option of filterSuggestion"
              [value]="option"
            >
              {{ option.value + " | " + option.text }}
            </mat-option>
          </mat-autocomplete>

          <mat-error>Chọn mã sản phẩm</mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>
    <!-- End Id Column  -->

    <!-- Start Name Column  -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef class="mat-column-name">
        Tên sản phẩm
      </mat-header-cell>

      <mat-cell
        *matCellDef="let element; let indexRow = index"
        class="mat-column-name"
        [formGroupName]="indexRow"
      >
        <mat-form-field class="example-full-width">
          <input
            type="text"
            matInput
            formControlName="name"
            onEnterGridTable
            (keydown.Tab)="onAddNewRow()"
            (keydown.Enter)="onAddNewRow()"
          />
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <!-- Note Column -->
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef class="mat-column-name">
        Ghi chú
      </mat-header-cell>

      <mat-cell
        *matCellDef="let element; let indexRow = index"
        class="mat-column-name"
        [formGroupName]="indexRow"
      >
        <!-- Input -->
        <mat-form-field class="example-full-width">
          <input
            type="text"
            matInput
            formControlName="address"
            [onEnterGridTable]="'checkbox-id-onenter-' + indexRow"
            (keydown.Tab)="onAddNewRow()"
            (keydown.Enter)="onAddNewRow()"
          />
        </mat-form-field>
      </mat-cell>
    </ng-container>
    <!-- End Note Column -->

    <!-- Address Column -->
    <ng-container matColumnDef="active">
      <mat-header-cell *matHeaderCellDef class="mat-column-name">
        Đang bán
      </mat-header-cell>

      <mat-cell
        *matCellDef="let element; let indexRow = index"
        class="mat-column-name"
        [formGroupName]="indexRow"
      >
        <!-- Input -->
        <input
          [class]="'checkbox-id-onenter-' + indexRow"
          mat-checkbox
          aria-label="First checkbox"
          type="checkbox"
          formControlName="active"
          [onEnterGridTable]="'input-id-' + (1 + indexRow)"
        />
      </mat-cell>
    </ng-container>
    <!-- End Address Column -->

    <!-- End Column definitions -->

    <!-- Row definitions -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    <!-- End Row definitions -->
  </mat-table>
</form>
