.mat-column-index {
  max-width: 20px;
  div {
    width: 100%;
    text-align: right;
  }
}
.mat-column-action {
  max-width: 50px;
}
::ng-deep {
  mat-header-cell {
    padding: 0 10px !important;
  }

  mat-cell {
    padding: 0 10px !important;
  }

  .cdk-overlay-pane {
    min-width: max-content !important;
  }
}

.mat-input-element:disabled {
  color: black !important;
}

.cell-index {
  text-align: right;
}

.required-cell {
  margin: 0px;
  &::after {
    content: "*";
    color: red;
  }
}

.btn--submit-form {
  margin-bottom: 15px;
}

.mat-header-cell {
  background-color: #00bec7;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}
