<form [formGroup]="formGroup">
  <mat-table [dataSource]="dataSource" formArrayName="formArrayName">
    <!-- Column definitions -->
    <ng-container
      *ngFor="let column of configGrid.columnGrid; let indexColum = index"
      [matColumnDef]="column.columnDefine"
    >
      <mat-header-cell *matHeaderCellDef class="mat-column-name">
        {{ column.columnName | translate }}
      </mat-header-cell>

      <mat-cell
        *matCellDef="let element; let indexRow = index"
        class="mat-column-name"
        [formGroupName]="indexRow"
      >
        <!-- Input -->
        <mat-form-field class="example-full-width" *ngIf="!column.columnType">
          <input
            type="text"
            matInput
            [formControlName]="column.columnDefine"
            (keydown.Tab)="goNextRow(); callBackRow(column, element)"
            (keydown.Enter)="goNextRow()"
            onEnterGridTable
          />

          <mat-error> Email is <strong>required</strong> </mat-error>
        </mat-form-field>

        <!-- Select -->
        <mat-form-field *ngIf="column.columnType">
          <input
            matInput
            [formControlName]="column.columnDefine"
            [matAutocomplete]="auto"
            onEnterGridTable
          />

          <mat-autocomplete
            (optionSelected)="goNextRow(); callBackRow(column, element)"
            autoActiveFirstOption
            [displayWith]="displayFn"
            #auto="matAutocomplete"
          >
            <mat-option
              *ngFor="let option of column.options() "
              [value]="option"
            >
              {{ option.text }}
            </mat-option>
          </mat-autocomplete>
          <mat-hint *ngIf="suggestionItems.length == 0">{{
            "No selection" | translate
          }}</mat-hint>

          <mat-error>Required</mat-error>
        </mat-form-field>
      </mat-cell>
    </ng-container>
    <!-- End Column definitions -->

    <!-- Row definitions -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    <!-- End Row definitions -->
  </mat-table>
</form>
